
/* body{
    height: 500vh;
} */
ul,p,h1,h2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar .bar1 {
    height: 90px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.bar .bar1 .logo{
    width: 60px;
    height: 60px;
   
}
.bar1 .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bar .bar1 ul{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.bar .bar1 ul li{
    float: left;
}
.bar .bar1 ul li a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 18.4px;
    color: rgb(41, 100, 100);
}
.bar-search{
    border-top: 1px solid rgb(35, 244 ,73);
    border-bottom: 1px solid rgb(35, 244 ,73);;
}
.con-search{
    height: 80px;
}
.con-search .log{
    padding: 0;
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
}
.con-search .log a{
    background-color:rgba(30, 143, 255, 0.783);
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.con-search .log a.sign{
    background-color: rgba(0, 128, 0, 0.758);
    margin-left: 5px;
}
.con-search .search{
    padding: 0;
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
}
.con-search .search .search1 a{
    background-color:aquamarine;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 5px;
    float: left;
}
.con-search .search1 .in-search{
    width: 290px;
    float: right;
    margin-left: 20px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.con-search .search1 .in-search input{
    height: 100%;
    width: 85%;
    border: none;
    outline: none;
    padding-left: 10px;
    float: left;
}
.con-search .search1 .in-search a.glass{
    width: 15%;
    float: left;
    right: 6px;
    position: absolute;
    height: 35px;
    bottom: 1px;
    background-color: transparent;
}
.contain3{
    
}
.contain3 .text{
    padding: 0;
    margin: 0;
    margin-top: 35px;
}
.contain3 .text p{
    font-size: 14px;
    font-weight: 450;
}
.contain3 span{
    font-weight: 500;
}
.contain3 .medai{
    padding: 0;
    margin: 0;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain3 .medai .medai1{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain3 .medai1 .share{
    width: 40px;
    height: 35px;
    float: left;
}
.contain3 .medai1 .share h1{
    font-size: 18px;
    padding-left: 5px;
    font-weight: 400;
}
.contain3 .medai1 .share p{
    font-size: 12px;
    margin-top: -12px;
    padding-left: 5px;
}
.contain3 .medai1 .socail{
    width: 150px;
    height: 35px;
    background-color: brown;
    float: left;
    margin: 5px;
    transition: 0.3s ease-in-out;
}
.contain3 .medai1 .socail:hover{
    transform: scale(1.1);
}
.contain3 .medai1 .socail .face{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}
.contain3 .medai1 .socail .text1{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
}
.contain3 .box-img{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain3 .box-img .img{
    width: 200px;
    height: 100px;
}
.contain3 .box-img .img img{
    width: 100%;
    height: 100%;
    
}
.box-type{
    margin-top: 15px;
    border: 1px solid lightgreen;
    padding-bottom: 25px;
}
.box-type .movie{
    padding: 0;
    margin: 0;
}
.box-type .box-movie{
    background-color: lightgreen;
    
}
.movie .box-movie h1{
    font-size: 23px;
    padding: 12px;  
}
.btn-show button{
    border: 1px solid rgb(8, 50, 234);
    font-size: 10px;
    padding: 7px 15px;
}
.btn-show button.btn-movie{
    background-color: rgba(27, 27, 243, 0.813);
    color: white;
}
.video{
    margin-top: 20px;
}
.video .videos{
    padding: 0;
    margin: 0;
}
.video .box-video{
    text-align: center;
    
    padding: 5px 5px 20px 5px;
    width: 94%;
    height: auto;

    border: 4px solid lightblue;
}
.box-video img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.box-video img:hover{
    opacity: 0.6;
    cursor: pointer;

}
.box-video h1{
    font-size: 10px;
    margin-top: 10px;
    color: rgb(24, 24, 243);
    font-weight: bold;
}
.footer{
    background-color: rgb(247, 247, 241);
    margin-top: 50px;
    height: auto;
    padding-bottom: 30px;
}
.footer .foot{
    text-align: center;
    padding: 0;
}
.foot .title{
    margin-top: 25px;
    
}
.title p{
    font-size: 13px;

}
 
.menu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-footer ul li{
    float: left;
    list-style-type: none;
}

.menu-footer ul li a{
    font-size: 14px;
    padding: 12px;
    color: rgb(41, 143, 251);
    font-weight: 300;
    text-decoration: none;
}
.title span{
    font-size: 12px;
    color: black;
    font-weight: 200;
}